$theme-colors: (
  "primary": blue,
  "dark": #000000,
);

@import "helpers/variables";

@import "node_modules/bootstrap/scss/bootstrap";
a {
  color: #ff594b;
}
a,
a:hover {
  text-decoration: none;
}

@import "layout/header";

@import "components/buttons";
@import "components/playbook-hero";
@import "components/page-hdr";
@import "components/play-hdr";
@import "components/play-card";
@import "components/resource-card";

@import "pages/play-catalog";
@import "pages/play";
@import "pages/case-studies";
@import "pages/resources";

body {
  font-family: "Roboto", sans-serif;
}
