<div class="playbook-hero">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="playbook-hero__intro">
          <h1>
            Bring your customers into focus with REI’s Customer Experience
            Playbook
          </h1>
          <p>
            The purpose of this playbook is to outline best practices for
            government agencies, and those that support them, for creating
            modernized applications and digital services that improve customer
            experience.
          </p>
          <p><button class="cx-button-outline">Learn more</button></p>
        </div>
        <!-- /.playbook-hero__intro -->
      </div>
      <!-- /.col-md-6 -->

      <div class="col-md-6">
        <div class="playbook-hero__media">
          <img src="../img/hero-image.png" alt="FPO" />
        </div>
        <!-- /.playbook-hero__media -->
      </div>
      <!-- /.col-md-6 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</div>
<!-- /.playbook-hero -->
