.playbook-hero {
  background-color: $rei-primary-blue-90;

  &__intro {
    padding: 5rem 0 2rem 0;
    color: #fff;
    @include media-breakpoint-up(md) {
      padding: 5rem 3rem 5rem 0;
    }
    h1 {
      font-family: $font-family-headline;
      font-weight: 700;
      font-size: 2.5rem;
      line-height: 1.1em;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }
    h1 + p {
      margin-top: 1.25rem;
    }
    p {
      font-size: 1.125rem;
      line-height: 1.5em;
      font-weight: 300;
      color: rgba(255, 255, 255, 0.8);
    }
    p > button {
      margin-top: 1rem;
    }
  }
  &__media {
    background-color: transparent;
    img {
      width: 100%;
      height: auto;
    }
  }
}
