.cx-plays {
  padding: 2rem 0;
  background-color: $rei-lt-gray;
  @include media-breakpoint-up(md) {
    padding: 4rem 0;
  }
}
.cx-play-title {
  color: $rei-primary-blue-90;
  font-size: 2rem;
  font-family: $font-family-headline;
  font-weight: 700;
  margin-bottom: 2rem;
  @include media-breakpoint-up(md) {
    font-size: 2.5rem;
  }
}
///////////

.cx-play-card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  //background-color: aqua;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(1, 1fr);
    //background-color: darkcyan;
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
    //background-color: chartreuse;
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
    //background-color: chocolate;
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(3, 1fr);
    //background-color: darkmagenta;
  }
  @include media-breakpoint-up(xxl) {
    grid-template-columns: repeat(4, 1fr);
    //background-color: brown;
  }
}
///

.cx-play-card {
  background-color: #fff;
  box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.15);
  &--card-1 {
    background-color: $rei-primary-blue-80;
  }
  &--card-2 {
    background-color: $rei-primary-red-80;
  }
  &--card-3 {
    background-color: $rei-green-80;
  }
  &--card-4 {
    background-color: $rei-purple-80;
  }
  &--card-5 {
    background-color: $rei-secondary-blue-80;
  }
}
