.cx-resource-card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
  //background-color: aqua;

  @include media-breakpoint-up(sm) {
    grid-template-columns: repeat(1, 1fr);
  }
  @include media-breakpoint-up(md) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media-breakpoint-up(lg) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media-breakpoint-up(xl) {
    grid-template-columns: repeat(3, 1fr);
  }
}
///
.cx-resource-card-link {
  transition: transform 0.2s;
  transform: scale(1);
  text-decoration: none;

  &:hover {
    transform: scale(1.02);
    text-decoration: none;
    box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.15);
  }
}

.cx-resource-card {
  background-color: #fff;
  padding: 0;
  //box-shadow: 6px 6px 18px 0px rgba(0, 0, 0, 0.15);
  height: 100%;

  &__media {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cadetblue;
  }
  &__img {
    width: 100%;
    height: auto;
  }
  &__supporting-text {
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
  }
  &__headline {
    color: $rei-primary-blue-90;
    font-family: $font-family-headline;
    font-weight: 700;
    font-size: 1.5rem;
    position: relative;
    margin-bottom: 1.5rem;
    &::after {
      content: "";
      width: 3rem;
      height: 1px;
      background-color: #fff;
      position: absolute;
      left: 0;
      bottom: -0.5rem;
    }
  }
  &__subtitle {
    color: $rei-primary-red-90;
    font-size: 0.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
}
