.cx-topbar {
  background-color: $rei-primary-blue-90;
  &--is-sticky {
    position: sticky;
    top: 0;
  }
}

.cx-navbar {
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__logo {
    background-color: $rei-primary-blue-60;
  }

  &__nav {
    background-color: transparent;
  }
}
.cx-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;

  &__item {
    margin: 0 0.25rem;
    &:first-of-type {
      margin-left: 0;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: $font-family-headline;
    font-weight: 400;
    letter-spacing: 1px;

    display: block;
    padding: 0.75rem 1rem;
    &:hover {
      color: $rei-primary-blue-10;
    }
  }
}
